<!DOCTYPE html>
<html>
<head>
<title>PeachCloud Release Builds</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>

<h1>PeachCloud Image Builds</h1>
<p>The latest PeachCloud disc image for Raspberry Pi 3+ with all PeachCloud microservices pre-installed.</p>
<ul>
   <li>
	   <a href="{{release_img_url}}">{{release_img_name}}</a>
   </li>
</ul>

<br/>
<hr>
<br/>

<h1>PeachCloud Release Builds</h1>
<p>The latest aarch64 release builds of PeachCloud microservices and other software components.</p>
<ul>
    <li><a href="/peach-buttons">peach-buttons</a> - 0.1.0</li>
    <li><a href="/peach-menu">peach-menu</a> - 0.2.0</li>
    <li><a href="/peach-monitor">peach-monitor</a> - 0.1.0</li>
    <li><a href="/peach-network">peach-network</a> - 0.2.0</li>
    <li><a href="/peach-oled">peach-oled</a> - 0.1.0</li>
    <li><a href="/peach-stats">peach-stats</a> - 0.1.0</li>
</ul>

<hr>

<p>For online documentation please refer to
<a href="http://docs.peachcloud.org/">docs.peachcloud.org</a>.<br/>
Code repositories can be found at
<a href="https://github.com/peachcloud">github.com/peachcloud</a>.<br/>
Support our efforts at
<a href="https://opencollective.com/peachcloud">opencollective.com/peachcloud</a>.</p>

<p><em>Thank you for your interest in PeachCloud.</em></p>
</body>
</html>